/*
  buttons: #00F3BB 
  general font color: color:#060A24
  buttons hover: #0000FE - #00F0B8 
  nav hover: #00F3BB 
  mobile nav hamburguer: #0000EC 
  fonts: "IBM Plex Sans, sans-serif" , "IBM Plex Mono", sans-serif
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 16px;
  max-width: 100%;
}

body, main {
  width: 100%;
}

a, .button {
  text-decoration: none;
}

.main_title, .icon_text {
  font-family: "IBM Plex Sans", sans-serif;
}

.header_li, .intro_text, .from_text, .footer_text, .button {
  font-family: "IBM Plex Mono", sans-serif;
}

.main_title {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin-left: 5%;
}

.intro_text, .from_text, .footer_text {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

.main_title, .intro_text, .from_text, .footer_text, .fas, .fab, .icon_text, a {
  color: #060A24;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  background-color: #00F3BB;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.button:hover {
  transition: 2s;
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFF;
  cursor: pointer;
}

.button:active {
  text-decoration: line-through;
}

header {
  display: flex;
  height: 44px;
  align-items: center;
}

/* Section Nav */

#nav_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#nav_container a {
  margin-left: 5%;
}

#checkbox {
  display: none;
}

.hamburguer {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5.9%;
}

.times {
  opacity: 0%;
  position: absolute;
  right: 5.9%;
  font-size: 18px;
}

.header_ul {
  visibility: hidden;
  opacity: 0%;
  list-style: none;
  position: absolute;
  top: 45px;
  height: 14rem;
  width: 100%;
  background-color: #0000EC;
  transition: all 0.30s linear;
}

.header_li {
  width: 100%;
}

.header_li a {
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  margin-left: 5%;
  color: #FFF;
  transition: color .5s;
  display: block;
}

#nav_container input[type="checkbox"]:checked~.hamburguer {
  opacity: 0%;
}

#nav_container input[type="checkbox"]:checked~.times {
  display: inline;
  opacity: 100%;
}

#nav_container input[type="checkbox"]:checked~.header_ul {
  opacity: 100%;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* End Nav */

/* -------------- */

/* Section Intro */

#sec_intro {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-start;
  margin-top: 29px;
}

#sec_intro .world_line {
  text-decoration: line-through;
}

#sec_intro .dot_blue {
  display: none;
}

#sec_intro .pale {
  display: block;
}

#p_movile {
  width: 90%;
  max-width: 600px;
  margin: 16px 0 0 5%;
}

#p_desktop {
  display: none;
}

.button {
  width: 90%;
  height: 48px;
  margin: 36px 0 24px 0;
  padding: 13px 0;
  align-self: center;
}

/* End Intro */

/* -------------- */

/* Section Podcast */

#sec_podcast {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 1203.5px;
}

#sec_podcast .chop {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  width: 100%;
  height: 100%;
  transform: skewY(-5deg);
  transform-origin: top right;
}

#podcast_content {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
}

#podcast_content .main_title {
  color: #FFFFFF;
  align-self: flex-start;
  margin: 64px 0 21px 5%;
}

#podcast_div_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  align-items: center;
}

#podcast_div_container iframe {
  width: 90%;
  height: 232px;
  margin-bottom: 11px;
  border: none;
}

#podcast_div_container iframe:last-of-type {
  margin-bottom: 0;
}

/* End Podcast */

/* -------------- */

/* Section From */

#sec_from {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -10%;
  margin-bottom: 54px;
}

#sec_from img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto auto 27px auto;
}

#from_container .main_title {
  display: block;
  margin-bottom: 8px;
}

#from_container .main_title span {
  display: block;
}

#from_container .from_text {
  margin-left: 5%;
}

/* End From */

/* -------------- */

/* Section Guests */

#sec_guests {
  margin-bottom: 48px;
}

#sec_guests .main_title {
  margin-bottom: 14px;
}

#sec_guests .main_title span {
  display: block;
}

#inv_img_container {
  display: flex;
  flex-direction: column;
}

#inv_img_container img {
  width: auto;
  display: block;
}

/* End Guests */

/* Topics */

#sec_topics .main_title {
  margin-bottom: 37px;
}

#sec_topics .main_title span {
  display: block;
}

#topics_icons_container {
  display: flex;
  flex-direction: column;
}

#topics_icons_container .icon_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 65px;
}

#topics_icons_container .icon {
  margin-bottom: 13px;
}

#topics_icons_container .icon_text {
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px;
  width: 90%;
  margin-top: 5px;
}

#topics_icons_container .icon_text span {
  display: block;
}

/* End Topics */

/* News */

#sec_news {
  position: relative;
  width: 100%;
  height: 341px;
}

#sec_news .chop {
  background: linear-gradient(225deg, #0000FF, #0000A3);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

#news_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#news_container .main_title {
  width: 90%;
  text-align: center;
  margin: 64px 0 36px 5%;
  color: #FFF;
}

#news_container .button {
  width: 90%;
  margin-left: 5%;
  padding: 13px 0;
  margin-bottom: 67px;
}

/* End News */

/* Footer */

#sec_footer .footer_text {
  margin: 24px 0 16px 0;
  text-align: center;
}

#sec_footer #footer_icons {
  display: flex;
  justify-content: space-between;
  margin-right: 14%;
  margin-bottom: 31px;
  margin-left: 14%;
}

#sec_footer #footer_icons .fab {
  font-size: 16px;
  line-height: 28px;
}

/* End Footer */

@media screen and (min-width: 468px) and (max-width: 992px) {/* Pre Desktop */
  .header_ul {
    height: 200px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {/* Pre Desktop */
  .header_ul {
    height: 160px;
  }
}

@media screen and (min-width: 650px) and (max-width: 992px) {/* Pre Desktop */
  #podcast_content .main_title {
    margin-top: 100px;
  }
  #sec_from img {
    margin-top: 50px;
  }
}

@media screen and (min-width: 600px) { /* Pre Desktop */
  #inv_img_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #inv_img_container img {
    width: 50%;
    margin: 0;
  }
  #sec_topics .main_title span {
    display: inline;
  }
}

@media screen and (min-width: 992px) { /* Desktop  */
  /* Base Desktop */
  .main_title {
    font-size: 48px;
    line-height: 62px;
    margin-left: 13.7%;
  }
  .main_title div {
    display: inline;
  }
  #sec_intro .pale {
    display: inline;
  }
  #sec_intro .dot_blue {
    display: inline;
  }
  #sec_intro .dot {
    display: none;
  }
  .intro_text, .from_text, .footer_text {
    font-size: 16px;
    line-height: 24px;
  }
  .button {
    font-size: 18px;
  }
  /* header Desktop */
  header {
    height: 80px;
  }
  #nav_container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 22px;
  }
  #nav_container a {
    margin-left: 0;
  }
  #nav_container a img {
    width: 36px;
    height: 36px;
  }
  #checkbox, .hamburguer, .times {
    display: none;
  }
  input[type="checkbox"]:checked~.hamburguer, input[type="checkbox"]:checked~.times {
    display: none;
  }
  .header_ul, input[type="checkbox"]:checked~.header_ul {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    opacity: 100%;
    visibility: visible;
    top: 0;
    margin-left: 0;
    height: 28px;
    width: auto;
    background-color: #FFF;
  }
  .header_li a {
    color: #060A24;
    margin: 0 48px 0 0;
  }
  .header_ul a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  /* Fin header Desktop */
  /* -------------- */
  /*Sec intro Desktop*/
  #sec_intro {
    align-items: flex-start;
    margin-left: 13.7%;
    margin-top: 120px;
  }
  #sec_intro .main_title {
    font-size: 64px;
    line-height: 84px;
    margin-left: 0;
  }
  #sec_intro .dot_blue {
    color: #0000EC;
  }
  #p_movile {
    display: none;
  }
  #p_desktop {
    display: block;
    max-width: 38%;
  }
  .button {
    width: 15.7%;
    margin: 56px 0 5px 0;
    padding: 16px 0;
    align-self: flex-start;
  }
  /* Fin Intro Desktop */
  /* -------------- */
  /* Podcast */
  #sec_podcast {
    height: 1042.6px;
  }
  #podcast_content {
    height: 100%;
  }
  #podcast_content .main_title {
    margin: 186px auto 40px 13%;
  }
  #podcast_div_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #podcast_div_container iframe {
    width: 43%;
  }
  #podcast_div_container iframe:nth-of-type(2n+1) {
    margin-right: 72px;
  }
  #podcast_div_container iframe:nth-of-type(1), iframe:nth-of-type(2) {
    margin-bottom: 72px;
    margin-top: 0;
  }
  #podcast_div_container iframe:nth-of-type(2) {
    margin-top: -60px;
  }
  #podcast_div_container iframe:nth-of-type(4) {
    margin-top: -7.9px;
  }
  /* Fin Podcast */
  /* From */
  #sec_from {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 130px 17% 0 16%;
    top: -170px;
    position: relative;
  }

  #sec_from img {
    top: 0;
    margin: 0;
    width: 80%;
  }
  #from_container {
    max-width: 490px;
    margin-right: 150px;
    position: relative;
    top: 200px;
    height: 100%;
  }
  #from_container .main_title .from_text {
    margin: 0;
  }
  #from_container .from_text {
    width: auto;
  }
  #from_container .main_title {
    margin-bottom: 24px;
    margin-left: 20px;
  }

  #from_container .main_title span {
    display: inline;
  }
  /* Fin From */
  /* Guests */
  #sec_guests {
    margin-bottom: 64px;
  }
  #sec_guests .main_title {
    margin-bottom: 36px;
  }
  #sec_guests .main_title span {
    display: inline;
  }
  #inv_img_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #inv_img_container img {
    width: 33.3%;
    max-width: 33.3%;
    margin: 0;
  }
  /* Fin Guests */
  /* Topics */
  #sec_topics .main_title {
    margin-bottom: 54px;
  }
  #topics_icons_container {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 13.9% 0 13.9%;
  }
  #topics_icons_container .icon_sec .icon {
    margin-bottom: 29px;
  }
  #topics_icons_container .icon_sec .icon_text {
    width: 200px;
  }
  #topics_icons_container .icon_sec:nth-of-type(2n+1) {
    margin-bottom: 66px;
  }
  #topics_icons_container .icon_sec:nth-of-type(2n+2) {
    margin-bottom: 34px;
  }
  /* FinTopics */
  /* News */
  #sec_news {
    height: 518px;
  }
  #sec_news .chop {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
  #sec_news .main_title {
    margin-top: 213px;
  }
  #sec_news .button {
    display: block;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 24px;
  }
  /* Fin News */
  /* Footer */
  
  #sec_footer {
    display: flex;
    justify-content: space-between;
  }

  #sec_footer .footer_text {
    margin: 36px 0 31px 0;
  }
  #sec_footer .footer_text {
    margin-left: 6.9%;
    line-height: 28px;
  }
  #sec_footer #footer_icons {
    margin: 36px 0 31px 0;
  }
  #sec_footer #footer_icons {
    margin-right: 6.9%;
    width: 16.5%;
  }

  #sec_footer #footer_icons .fab {
    font-size: 18px;
  }
  /* Fin Footer */
}